<!DOCTYPE html>
<html>
<head>
<!--
			  _    __
			 | |  / _|
	__      _| |_| |_ _ __ ___   ___   _ __ ___   ___
	\ \ /\ / / __|  _| '_ ` _ \ / _ \ | '_ ` _ \ / _ \
	 \ V  V /| |_| | | | | | | |  __/_| | | | | |  __/
	  \_/\_/  \__|_| |_| |_| |_|\___(_)_| |_| |_|\___|

					is open source
			https://github.com/mlomb/wtfme.me
-->
<!-- rev: <%= revision %> time: <%= new Date().toISOString() %> -->
<%
let display_title = title ? `${title} | wtfme.me` : 'wtfme.me';
%>
	<meta charset="utf-8">
	<title><%= display_title %></title>
	
	<meta name="description" content="<%= description %>">
	<meta name="keywords" content="memes,gifs,wtfmeme,<%= keywords.join(",") %>">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta name="theme-color" content="#121212">
	
	<meta property="og:title" content="<%= display_title %>">
	<meta property="og:description" content="<%= description %>">
	<meta property="og:image" content="https://wtfme.me/logo-social.png">
	<meta property="og:image:width" content="300">
	<meta property="og:image:height" content="300">
	<meta property="og:url" content="<%= module.length ? `https://wtfme.me/${path}` : 'https://wtfme.me' %>">
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="wtfme.me">
	<meta property="fb:app_id" content="521992708626982">
 
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="manifest" href="/manifest.json">
	
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-136310149-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-136310149-1');
	</script>
</head>
<body<%= !module.length ? ` class="index"` : ''%>>
	<% if(module.length) { %>
		<div id="fb-root"></div>
		<script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v3.2&appId=521992708626982&autoLogAppEvents=1"></script>
		<script>window.twttr=function(a,c,d){var e=a.getElementsByTagName(c)[0],b=window.twttr||{};if(a.getElementById(d))return b;a=a.createElement(c);a.id=d;a.src="https://platform.twitter.com/widgets.js";e.parentNode.insertBefore(a,e);b._e=[];b.ready=function(a){b._e.push(a)};return b}(document,"script","twitter-wjs");</script>
		<div id="root"></div>
		<a href="/" title="wtfme.me"  class="back">
			<img src="/logo-small.png" alt="wtfme.me logo">
			<span>Go Back</span>
		</a>
		<% if(module !== '404.js') { %>
		<div class="social">
			<a href="https://twitter.com/share" class="twitter-share-button">Tweet</a><br>
			<div class="fb-like" data-layout="box_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
		</div>
		<% } %>
		<script>window.page_module = '<%= module %>';</script>
	<% } else { %>
		<div class="logo"><a href="https://wtfme.me"><img src="/logo.png" alt="wtfme.me logo"></a></div>
		<p class="logo-legend">An <a class="link" href="https://github.com/mlomb/wtfme.me" target="_blank">open source</a> collection of random memes and useless pages</p>
		<div class="gallery-container">
			<div class="title">Gallery</div>
			<div class="list">
			<% for(let page of pages) { %>
				<% if(!page.cover || page.cover.hidden) continue; %>
				<a class="item" href="/<%- page.path %><%- process.env.NODE_ENV === 'development' ? '.html' : '' %>">
					<% if(page.cover.customizable) { %>
					<span class="customizable">CUSTOMIZABLE</span>
					<% } %>
					<% let hasCover = page.cover.image && page.cover.image.length > 0; %>
					<% if(hasCover) { %>
					<div class="image<%- page.cover.spaced ? ' spaced' : ''%>" style="background-image: url(<%- page.cover.image.substr(4) === 'http' ? page.cover.image : `https://cdn.staticaly.com/img/${page.cover.image}` %>)"></div>
					<% } %>
					<div class="overlay<%- !hasCover ? ' show' : ''%>">
						<span><%- page.title %></span>
					</div>
					<% if(page.cover.customizable) { %>
					<span class="customizable">CUSTOMIZABLE</span>
					<% } %>
				</a>
			<% } %>
			</div>
		</div>
		<div class="footer">
			<div class="container">
				<a href="https://github.com/mlomb/wtfme.me" target="_blank">view on <span class="github"></span></a><span class="separator">·</span><span><%= new Date().getFullYear() %></span>
			</div>
		</div>
	<% } %>
</body>
</html>
