@import (css) url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900|Press+Start+2P');

* {
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
}

body {
	background-color: #121212;
	color: white;
	font-family: 'Montserrat', sans-serif;
    min-width: 320px;
}

canvas {
	background-color: transparent;
}

a {
	color: white;
	text-decoration: none;
}

#root {
	width: 100%;
	height: 100%;
    overflow: hidden;
    position: absolute;
}

@supports (-webkit-appearance:none) {
	body.android #root {
		/* Target Chrome on Android */
		height: calc(100vh - 56px);
	}
}

.vendor(@property; @value){
	-webkit-@{property}: @value;
	   -moz-@{property}: @value;
	    -ms-@{property}: @value;
	     -o-@{property}: @value;
	        @{property}: @value;
}
.noselect {
	-webkit-touch-callout: none;
	.vendor(user-select, none);
	//.vendor(user-drag, none);
}

@keyframes rainbow {
	100%,0%
		{ color: hsl(  0, 100%, 71%); }
	8%  { color: hsl( 30, 100%, 71%); }
	16% { color: hsl( 60, 100%, 71%); }
	25% { color: hsl( 90, 100%, 71%); }
	33% { color: hsl(120, 100%, 71%); }
	41% { color: hsl(150, 100%, 71%); }
	50% { color: hsl(180, 100%, 71%); }
	58% { color: hsl(210, 100%, 71%); }
	66% { color: hsl(240, 100%, 71%); }
	75% { color: hsl(270, 100%, 71%); }
	83% { color: hsl(300, 100%, 71%); }
	91% { color: hsl(330, 100%, 71%); }
}
.rainbow {
	animation: rainbow 2.5s linear;
	animation-iteration-count: infinite;
}

.logo {
	margin: 10px auto;
	text-align: center;
	height: 200px;
}

.logo-legend {
	text-align: center;
    padding: 0 10px;
	
	.link {
		color: white;
		font-weight: 700;
		text-decoration: none;
	}
}

.gallery-container {
	.title {
		text-align: center;
	    margin: 15px;
	    font-weight: 400;
	    font-size: 25px;
	}
	
	.list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		width: 90%;
		max-width: 1400px;
		
		.item {
			position: relative;
			margin: 5px;
			border-radius: 3px;
			width: 125px;
			height: 125px;
			
			.image {
				width: 100%;
				height: 100%;
				background-size: cover;
				background-position: center;
				border: 1px solid #232323;
				border-radius: 3px;
				
				&.spaced {
				    background-size: 90%;
				    background-repeat: no-repeat;
				}
			}
			.customizable {
				font-family: 'Press Start 2P';
			    font-size: 8px;
			    text-decoration: none;
			    position: absolute;
			    bottom: 5px;
			    left: 50%;
			    transform: translateX(-50%);
				.rainbow();
			}
			.overlay {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				color: white;
				text-align: center;
				text-shadow: 1px 1px 10px black;
				padding: 10px;
				transition: .2s ease;
				border-radius: 3px;
				
				&.show {
					opacity: 1;
					background: rgba(0, 0, 0, 0.3);
				}
				
				&:hover {
					opacity: 1;
					background: rgba(0, 0, 0, 0.6);
				}
			}
		}
	}
}

.back {
	position: absolute;
	top: 0;
	left: 0;
	background: #262626;
	padding: 5px;
    border: 2px solid #333333;
    border-left: none;
    border-top: none;
	border-bottom-right-radius: 5px;
	
	img {
	    width: 45px;
	    height: 30px;
		vertical-align: middle;
	}
	span {
		vertical-align: middle;
	    margin-left: 4px;
	}
	
	&:hover span {
		.rainbow();
	}
}

.social {
	position: absolute;
	right: 8px;
	top: 6px;
    text-align: right;
    width: 80px;
    height: 90px;
	
	.twitter-share-button {
		position: static!important;
	}
}

.fullscreen-cover {
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.fullscreen-contain {
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.text {
	position: absolute;
	width: 100%;
	text-align: center;
	text-shadow: 0 0 15px #000000, 0 0 10px #000000;
	font-size: 45px;
	font-weight: 900;
}

@media only screen and (max-width: 768px) {
	.text {
		font-size: 35px;
	}
}
@media only screen and (max-width: 480px) {
	.text {
		font-size: 20px;
	}
}
